doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title= title
		link(rel='stylesheet', href='/lib/qunit/qunit-1.18.0.css')
	body
		#qunit
		#qunit-fixture
		script(data-main="app/main", src="lib/require/require.js")
